<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Velocity Classes</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f87a898598.js" crossorigin="anonymous"></script>

</head>

<body>
  <main>
    <header id="header">
      <div id="logo-area">
        <a href="/">Velocity Classes</a>
      </div>
      <div id="nav-btns">
        <div id="points-container-nav">
          <img src="/images/points.png" alt="points">
          <div id="points">1000</div>

        </div>
        <div id="menu">
          <button id="show-nav"><img src="/images/Menu.png" alt=""></button>
        </div>
      </div>
    </header>
    <nav id="navigation">
      <div id="top-nav">
        <button id="close-btn"><img src="/images/Close.png" alt=""></button>
      </div>
      <div id="center-nav">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/quiz">Quiz</a></li>
          <li><a href="/sign-up">Sign-up</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
      </div>
      <div id="bottom-nav">
        <h2>Our Socials</h2>
        <ul>
          <li><a href="#" class="hover">Instagram</a></li>
          <li><a href="#" class="hover">Facebook</a></li>
          <li><a href="#" class="hover">X</a></li>
        </ul>
      </div>

    </nav>

    <section id="hero">
      <h1>Learn Like a Pro...</h1>
      <div id="cta">
        <button class="btn"><a href="/sign-up">Get Started</a></button>
        <button class="btn"><a href="/about">Learn More</a></button>
      </div>
    </section>
    <section id="philosophy">
      <div class="title">
        <h1><span>Our</span><br><span>Philosophy</span></h1>
      </div>
      <div class="philo">
        <p>Fundamentally, the coach is helping the individual to improve their own performance: in other words,
          helping
          them to
          learn. Good coaches believe that the individual always has the answer to their own problems but understands
          that they
          may need help to find the answer.</p>
      </div>
    </section>

    <section id="facility">
      <div id="facility-content">
        <div class="stack-area">
          <div id="left">
            <div class="facility-title">
              <h1><span>Our</span><br><span>Facility</span></h1>
            </div>
            <div class="facility-para">
              <p>Our state-of-the-art facilities include air-conditioned rooms, weekly online tests, comprehensive
                online and
                offline
                support, career counseling, and hands-on practical knowledge sessions, ensuring a comfortable and
                holistic learning
                environment for every student.</p>
            </div>
          </div>
          <div class="right">
            <div class="cards">
              <div class="card">
                <img src="/images/Card-1.png" alt="">
              </div>
              <div class="card">
                <img src="/images/Card-2.png" alt="">
              </div>
              <div class="card">
                <img src="/images/Card-3.png" alt="">
              </div>
              <div class="card">
                <img src="/images/Card-4.png" alt="">
              </div>
              <div class="card">
                <img src="/images/Card-5.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <section id="faculty">
          <div id="faculty-title">
            <h1><span>Our</span><br><span>Faculty</span></h1>
          </div>
          <div id="faculty-container">
            <div class="faculty-card">
              <div class="name">
                <h2>Er. D.S.C</h2>
              </div>
              <div class="img"></div>
              <div class="role">
                <h2>Math Coach</h2>
              </div>
            </div>
            <div class="faculty-card">
              <div class="name">
                <h2>Er. S.S. Kushwah</h2>
              </div>
              <div class="img"></div>
              <div class="role">
                <h2>Science Coach</h2>
              </div>
            </div>
          </div>
        </section>
        <section id="moments">
          <div id="moment-title">
            <h1><span>Moments</span></h1>
          </div>
          <div class="cursor">Drag</div>
          <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true"
            centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0"
            coverflow-effect-depth="100" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
            <swiper-slide>
              <img src=" https://swiperjs.com/demos/images/nature-1.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
            </swiper-slide>
            <swiper-slide>
              <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
            </swiper-slide>
          </swiper-container>


        </section>
        <footer>
          <div id="footer-top">
            <div id="f-t-l">
              <h1>Bhind
                Madhya Pradesh India.</h1>
            </div>
            <div id="f-t-r">
              <ul>
                <li><i class="fa-solid fa-phone-volume"></i><a href="#">+91 8109531241</a></li>
                <li><i class="fa-solid fa-phone-volume"></i><a href="#">+91 8435308360</a></li>
                <li><i class="fa-solid fa-envelope"></i><a href="#">info@velocityclasses.com</a></li>
              </ul>
            </div>
          </div>
          <div id="footer-bet">
            <div id="f-b-l">
              <ul>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              </ul>
            </div>
            <div id="f-b-r">
              <h3>Powered by <a href="https://astacode.us.to/" target="_blank">AstaCode India</a></h3>
            </div>
          </div>
          <div id="footer-down">
            <h1>#Velocity Classes</h1>
          </div>
        </footer>
      </div>
    </section>
  </main>


  <script src="https://unpkg.com/lenis@1.1.1/dist/lenis.min.js"></script>
  <script src="https://unpkg.com/split-type"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/main.js"></script>
  <script>
    SplitType.create('.title h1 span')
    SplitType.create('.philo p')
    SplitType.create('.facility-title h1 span')
    SplitType.create('#moment-title h1 span')
    SplitType.create('.facility-para p')
    SplitType.create('#faculty-title h1 span')


    gsap.from('#hero h1 .word .char', {
        y: 150,
        opacity: 0,
        scale: 0,
        duration: 1,
        stagger: .2
      })

    gsap.from('.title h1 span .word .char', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: '.title h1 span',
        start: 'top 80%',
        end: "top 80%",
      }
    })
    gsap.from('.facility-title h1 span .word .char', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: '.facility-title h1 span',
        start: 'top 80%',
        end: "top 80%",
      }
    })
    gsap.from('#faculty-title h1 span .word .char', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: '#faculty-title h1 span',
        start: 'top 80%',
        end: "top 80%",
      }
    })
    gsap.from('#moment-title h1 span .word .char', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: '#moment-title h1 span',
        start: 'top 80%',
        end: "top 80%",
      }
    })
    gsap.from('footer #footer-down h1 .word .char', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: 'footer #footer-down',
        start: 'top 80%',
        end: "top 80%",
      }
    })

    gsap.from('.philo p .word', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: '.philo p',
        start: 'top 80%',
        end: "top 80%",
      }
    })
    gsap.from('.facility-para p .word', {
      y: 150,
      duration: .5,
      stagger: .1,
      scrollTrigger: {
        trigger: '.facility-para p',
        start: 'top 80%',
        end: "top 80%",
      }
    })


    let moment = document.querySelector('#moments')
    let crsr = document.querySelector('.cursor')

    moment.addEventListener('mousemove', (dets) => {
      gsap.to(crsr, {
        x: dets.x,
        y: dets.y,
        duration: 1
      })
    })
  </script>
</body>

</html>