<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly-quiz | Velocity Classes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f87a898598.js" crossorigin="anonymous"></script>

</head>

<body>
    <main>
        <header id="header">
            <div id="logo-area">
                <a href="/">Velocity Classes</a>
            </div>
            <div id="nav-btns">
                <div id="points-container-nav">
                    <img src="/images/points.png" alt="points">
                    <div id="points">1000</div>

                </div>
                <div id="menu">
                    <button id="show-nav"><img src="/images/Menu.png" alt=""></button>
                </div>
            </div>
        </header>
        <nav id="navigation">
            <div id="top-nav">
                <button id="close-btn"><img src="/images/Close.png" alt=""></button>
            </div>
            <div id="center-nav">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/quiz">Quiz</a></li>
                    <li><a href="/sign-up">Sign-up</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
                </ul>
            </div>
            <div id="bottom-nav">
                <h2>Our Socials</h2>
                <ul>
                    <li><a href="#" class="hover">Instagram</a></li>
                    <li><a href="#" class="hover">Facebook</a></li>
                    <li><a href="#" class="hover">X</a></li>
                </ul>
            </div>

        </nav>












        <footer>
            <div id="footer-top">
                <div id="f-t-l">
                    <h1>Bhind
                        Madhya Pradesh India.</h1>
                </div>
                <div id="f-t-r">
                    <ul>
                        <li><i class="fa-solid fa-phone-volume"></i><a href="#">+91 8109531241</a></li>
                        <li><i class="fa-solid fa-phone-volume"></i><a href="#">+91 8435308360</a></li>
                        <li><i class="fa-solid fa-envelope"></i><a href="#">info@velocityclasses.com</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-bet">
                <div id="f-b-l">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div id="f-b-r">
                    <h3>Powered by <a href="https://astacode.us.to/" target="_blank">AstaCode India</a></h3>
                </div>
            </div>
            <div id="footer-down">
                <h1>#Velocity Classes</h1>
            </div>
        </footer>
    </main>


    <script src="https://unpkg.com/lenis@1.1.1/dist/lenis.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>